#main{
  background-color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 35px;
  border: black;
  
}
#titulo{
  font-size: 50px;
  font-weight: 300;
  align-self: center;
  margin-top: 20px;
}
#painel{
  background-color: white;
}

#base-calculos {
  margin: 30px;
  flex-direction: row;
  flex: 1;
  display: flex;
  justify-content: space-around;
  width: 80%;
 
}
.bloqueado{
  background-color: tomato;
}